.profile{
-fx-background-image: url('background1.jpg');
-fx-background-size:cover;
-fx-background-position:center;
}

.register{
-fx-background-image: url('background2.jpg');
-fx-background-size:cover;
-fx-background-position:center;
}
.exitsEvent{
-fx-background-image: url('close.png');
-fx-background-size:cover;
-fx-background-position:center;
}
.backgroundSpending{
-fx-background-image: url('backSpending.png');
-fx-background-size:cover;
-fx-background-position:center;
}
.root{
    -fx-background-image: url('background3.jpg');
    -fx-background-size:cover;
    -fx-background-position:center;
}